/* -------------------------- debug -------------------------- */

/* You can comment/uncomment 1 line below for debugging */
/* Try it 😉 */

/* * {box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.5) inset;} */
/* body {box-shadow: -1px 1px 10px 3px red inset;} */
/* header {box-shadow: -1px 1px 10px 3px yellow inset;} */
/* section {box-shadow: -1px 1px 10px 3px blue inset;} */

/* ----------------------------------------------------------- */

*{
    margin: 0; padding: 0;
    /* ... here, code for anchor link animations */
}


body {
    background-color: rgb(245, 245, 245);
}
header, footer {background-color: rgb(220, 220, 220);}
html{
    scroll-behavior: smooth;
}

/**
 * ...
 * ... Mobile fisrt
 * ...
 * ... your code here
 * ...
 */
 @media (max-width: 375px) {
    #top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #top header{
        display: flex;
        flex-direction: column;
        width: 100vh;
    }
    header span:nth-child(4){
        display: none;
    }
    header span:nth-child(2){
        display: none;
    }

    #top img{
        width: 300px;
        height: 300px;
    }
    #top h1{
        width: 300px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #section-1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 15px;
    }
    #section-1 div{
        width: 300px;
        height: 300px;
        border: 3px solid black;
        margin: 15px;
    }
    #section-2{
        display: flex;
        font-size: 30px;
        margin: 15px;
    }
    #section-2 #grid{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
    }
    #grid  div:hover{
        transition:transform 0.3s;
        transition-duration: 0.3s;
        transform: scale(1.1);
    }
    #grid div{
        transition: 0.5s;
                transition-duration: 0.5s;
    }
    #grid div div:hover{
        transition: transform 0.5s;
        transition-duration: 0.5s;
        transform: rotate(360deg) ;
        transition-delay: 0.3s;
    }
    #grid div div{
        transition: 0.5s;
        transition-duration: 0.5s;
    }
    #section-2 div div{
        justify-content: center;
        align-items: center;
        display: flex;
        width: 150px;
        height: 150px;
        color: black;
        border-radius: 50%;
    }
    #footer{
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
 }
 @media (max-width: 667px) {
    #top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vh;
    }
    #top header{
        width: 100%;
    }
    header span:nth-child(4){
        display: none;
    }
    #top img{
        width: 300px;
        height: 300px;
    }
    #top h1{
        width: 300px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #section-1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 15px;
    }
    #section-1 div{
        width: 300px;
        height: 300px;
        border: 3px solid black;
        margin: 15px;
    }
    #section-2{
        display: flex;
        font-size: 30px;
        margin: 15px;
    }
    #section-2 #grid{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }
    #grid  div:hover{
        transition:transform 0.3s;
        transition-duration: 0.3s;
        transform: scale(1.1);
    }
    #grid div{
        transition: 0.5s;
                transition-duration: 0.5s;
    }
    #grid div div:hover{
        transition: transform 0.5s;
        transition-duration: 0.5s;
        transform: rotate(360deg) ;
        transition-delay: 0.3s;
    }
    #grid div div{
        transition: 0.5s;
        transition-duration: 0.5s;
    }
    #section-2 div div{
        justify-content: center;
        align-items: center;
        display: flex;
        width: 150px;
        height: 150px;
        color: black;
        border-radius: 50%;
    }
    #footer{
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
 }
 @media (max-width: 768px){
    #top{
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
    #top header{
        display: flex;
        width: 100%;
    }
    header span:nth-child(4){
        display: none;
    }
    #top h1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #top .logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #section-1{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
        gap: 15px;
    }
    #section-1 div{
        height: 300px;
        width: 300px;
        border: 3px solid black; 
    }
    #section-2{
        height: 100vh;
        font-size: 30px;
        display: flex;
        align-items: center;
    }
    #grid{
        display: grid;
        grid-row-gap: 15px;
        grid-template-columns: 150px 150px 150px 150px 150px;
        grid-template-rows: 150px 150px 150px;
    }
    #grid div div {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        box-shadow: inset gray 10px 2px 10px;
    }
    #grid div:nth-child(1){
        grid-column-start: 3;
        grid-column-end:3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #grid  div:hover{
        transition:transform 0.3s;
        transition-duration: 0.3s;
        transform: scale(1.1);
    }
    #grid div{
        transition: 0.5s;
                transition-duration: 0.5s;
    }
    #grid div div:hover{
        transition: transform 0.5s;
        transition-duration: 0.5s;
        transform: rotate(360deg) ;
        transition-delay: 0.3s;
    }
    #grid div div{
        transition: 0.5s;
        transition-duration: 0.5s;
    }
    #grid div:nth-child(2){
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #grid div:nth-child(3){
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #grid div:nth-child(4){
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #grid div:nth-child(5){
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #grid div:nth-child(6){
        grid-column-start: 5;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #footer{
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
 }
 @media (max-width: 1024px) {
    #top header{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        gap: 20px;
    }
    header span:nth-child(2){
        display: none;
    }
    #section-1{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
        gap: 15px;
    }
    #section-1 div{
        height: 300px;
        width: 300px;
        border: 3px solid black; 
    }
    #section-2{
        height: 100vh;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #grid{
        display: grid;
        grid-row-gap: 15px;
        grid-template-columns: 150px 150px 150px 150px 150px;
        grid-template-rows: 150px 150px 150px;
    }
    #grid div div {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        box-shadow: inset gray 10px 2px 10px;
    }
    #grid div:nth-child(1){
        grid-column-start: 3;
        grid-column-end:3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #grid  div:hover{
        transition:transform 0.3s;
        transition-duration: 0.3s;
        transform: scale(1.1);
    }
    #grid div{
        transition: 0.5s;
                transition-duration: 0.5s;
    }
    #grid div div:hover{
        transition: transform 0.5s;
        transition-duration: 0.5s;
        transform: rotate(360deg) ;
        transition-delay: 0.3s;
    }
    #grid div div{
        transition: 0.5s;
        transition-duration: 0.5s;
    }
    #grid div:nth-child(2){
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #grid div:nth-child(3){
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #grid div:nth-child(4){
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #grid div:nth-child(5){
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #grid div:nth-child(6){
        grid-column-start: 5;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #footer{
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
 }
 @media (max-width: 1280px) {
    #top header{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        gap: 20px;
        position: relative;
    }
    #top a{
        bottom: 0px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 40px;
        border-radius: 50%;
        background-color: red;
        color: white;
    }
    #section-1{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
        gap: 15px;
        position: relative;
    }
    #section-1 a{
        bottom: 0px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 40px;
        border-radius: 50%;
        background-color: red;
        color: white;
    }
    #section-1 div{
        height: 300px;
        width: 300px;
        border: 3px solid black; 
    }
    #section-2{
        height: 100vh;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    #section-2 a{
        bottom: 0px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 40px;
        border-radius: 50%;
        background-color: red;
        color: white;
    }
    #grid{
        display: grid;
        grid-row-gap: 15px;
        grid-template-columns: 150px 150px 150px 150px 150px;
        grid-template-rows: 150px 150px 150px;
    }
    #grid div div {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        box-shadow: inset gray 10px 2px 10px;
    }
    #grid div:nth-child(1){
        grid-column-start: 3;
        grid-column-end:3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #grid  div:hover{
        transition:transform 0.3s;
        transition-duration: 0.3s;
        transform: scale(1.1);
    }
    #grid div{
        transition: 0.5s;
                transition-duration: 0.5s;
    }
    #grid div div:hover{
        transition: transform 0.5s;
        transition-duration: 0.5s;
        transform: rotate(360deg) ;
        transition-delay: 0.3s;
    }
    #grid div div{
        transition: 0.5s;
        transition-duration: 0.5s;
    }
    #grid div:nth-child(2){
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #grid div:nth-child(3){
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #grid div:nth-child(4){
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #grid div:nth-child(5){
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #grid div:nth-child(6){
        grid-column-start: 5;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #footer{
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    } 
    #footer a{
        top: 0px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 40px;
        border-radius: 50%;
        background-color: red;
        color: white;
    }
 }
 @media (min-width: 1280px) {
    #top a{
        bottom: 0px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 40px;
        border-radius: 50%;
        background-color: red;
        color: white;
    }
    #top header{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        gap: 20px;
        position: relative;
    }
    #section-1{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
        gap: 15px;
        position: relative;
    }
    #section-1 a{
        bottom: 0px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 40px;
        border-radius: 50%;
        background-color: red;
        color: white;
    }
    #section-1 div{
        height: 300px;
        width: 300px;
        border: 3px solid black;
    }
    #section-1 div:nth-child(1){
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url(/Img/pexels-dom-gould-325807.jpg);
        position: absolute;
        animation: mymove 5s infinite;
    }
    @keyframes mymove {
        from {top: 0px;}
        to {top: 500px;}
      }

    #section-1 div:nth-child(2){
        background-image: url(/Img/pexels-tim-eiden-1222561.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        animation: mymove2 5s infinite;
        position: absolute;
    }
    @keyframes mymove2 {
        from {right: 0px;}
        to {right: 100%;}
      }
    #section-1 div:nth-child(2):not(:hover){
        filter: grayscale(100%);
        opacity: 0,75;
    }
    #section-1 div:nth-child(1):not(:hover){
        filter: grayscale(100%);
        opacity: 0,75;
    }
    #section-2{
        height: 100vh;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    #section-2 a{
        bottom: 0px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 40px;
        border-radius: 50%;
        background-color: red;
        color: white;
    }
    #grid{
        display: grid;
        grid-row-gap: 15px;
        grid-template-columns: 150px 150px 150px 150px 150px;
        grid-template-rows: 150px 150px 150px;
    }
    #grid div div {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        box-shadow: inset gray 10px 2px 10px;
    }
    #grid div:nth-child(1){
        grid-column-start: 3;
        grid-column-end:3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #grid  div:hover{
        transition:transform 0.3s;
        transition-duration: 0.3s;
        transform: scale(1.1);
    }
    #grid div{
        transition: 0.5s;
                transition-duration: 0.5s;
    }
    #grid div div:hover{
        transition: transform 0.5s;
        transition-duration: 0.5s;
        transform: rotate(360deg) ;
        transition-delay: 0.3s;
    }
    #grid div div{
        transition: 0.5s;
        transition-duration: 0.5s;
    }
    #grid div:nth-child(2){
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #grid div:nth-child(3){
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #grid div:nth-child(4){
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #grid div:nth-child(5){
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #grid div:nth-child(6){
        grid-column-start: 5;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #footer{
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    #footer a{
        top: 0px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 40px;
        border-radius: 50%;
        background-color: red;
        color: white;
    }
 }